.header {
  padding: 10px 30px;
  grid-column: 1 / end;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  background-color: lightgray;
}

.header > *,
.header__search {
  width: 100%;
}

.header__center {
  display: grid;
  grid-template-columns: 10px 1fr;
}

.header__icon {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 15px;
  padding: 0 5px;
}

.header__search {
  border-radius: 30px;
  padding: 3px 30px;
  grid-column: 1 / end;
  grid-row: 1;
  outline: 0;
}

.header__right {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__button {
  width: 70px;
  box-shadow: 2px 3px 5px black;
}

@media (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .header__left {
    grid-row: 1;
  }

  .header__center {
    width: 70vw;
    grid-column: 1 / end;
    grid-row: 2;
  }

  .header__right {
    grid-row: 1 / 2;
    justify-content: center;
  }
}